html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

p {
  color: #666;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, rgb(200, 0, 255), rgb(3, 1, 70));
  }
  

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav .name {
  color: white;
  font-size: 2em;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.nav-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.nav-links a {
  margin-bottom: 40px;
  font-size: 1.25em;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
}

.nav-links a:hover {
  color: #ff5900;
}

.main-content {
  max-width: 800px;  
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

